# complile
*.swp

# c++
*.out
*.gch

# visual c/c++
**/Debug
*.sdf
*.pdb
*.ilk
*.exe
*.obj
**/_hw3_solution.tlog
*.opensdf
*.suo
*.vcxproj
*.vcxproj.*
*.idb

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscheme


# Python
**/venv/
.env

**/compiled/
**/img/
**/.ipynb_checkpoints/
**/__pycache__/
*.pyc
*.py.swp
*.swp
.cache/

# Twisted
*.pid
*.log
*.cache
*.db

# Confidential
confidential/
