.container {
  position: relative;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 79%;
}

@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 20%;
  }
  section {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}